/* ReviewsSection.css */

.client-reviews-section {
    padding: 100px 0;
    position: relative;
    overflow: hidden;
}

.client-reviews-bg {
    background-image: url("/public/images/SCREEN_7.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 160px 0 180px;
    max-height: 1375px;
    height: 100vw;
}

.client-reviews-container {
    padding-left: 60px !important;
    padding-right: 0 !important;
    max-width: 100%;
    margin-right: 0;
}

.client-reviews-title {
    font-family: "TTTMedium";
    font-size: 68px;
    color: #FFFCF5;
    text-align: center;
    margin-bottom: 140px;
    position: relative;
}

.client-reviews-title-img {
    vertical-align: middle;
}

.client-reviews-slider {
    position: relative;
    margin: 0 auto;
}

/* Swiper overrides */
.client-reviews-section .swiper {
    overflow: visible !important;
    padding: 0 17px 0 0 !important;
    cursor: grab;
}

.client-reviews-section .swiper-slide {
    height: auto;
    flex-shrink: 0;
}

.client-reviews-track {
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

.client-review-card-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.client-review-card-flex-end {
    justify-content: flex-end;
}

.client-review-number {
    font-family: "Steppe";
    font-size: 20px;
    color: #D6FF00;
    font-weight: 400;
}

.client-review-card {
    position: relative;
    background: #FFFCF5;
    border-radius: 10px;
}

.client-review-card-small {
    width: 207px;
    height: 100%;
    padding: 30px 24px 63px 26px;
}

.client-review-card-large {
    width: 321px;
    height: 434px;
    padding: 50px 40px 30px 40px;
}

.client-review-content {
    position: relative;
    height: 100%;
}

.client-review-name {
    font-family: "TTTMedium";
    font-size: 18px;
    color: #060606;
    margin-bottom: 10px;
}

.client-review-text {
    font-family: "Steppe";
    font-size: 14px;
    font-weight: 400;
    color: #060606;
    flex-grow: 1;
    line-height: 1.4;
}

.client-review-symbol {
    text-align: end;
    color: #C5F11F;
    font-family: "TTTMedium";
    font-size: 64px;
}

.client-review-arrow {
    position: absolute;
    bottom: -50px;
    right: 0;
    width: 30px;
    height: 15px;
    margin-top: 0 !important;
}

.client-review-card-large .client-review-arrow {
    bottom: 30px;
    right: 30px;
}

.client-reviews-mobile-scroll {
    display: none;
    text-align: center;
    color: #D6FF00;
    font-family: 'Steppe';
    font-size: 14px;
    margin-top: 20px;
    opacity: 0.7;
}

/* Адаптивность */
@media (max-width: 1440px) {
    .client-reviews-title {
        font-size: 58px;
        margin-bottom: 100px;
    }
}

@media (max-width: 1200px) {
    .client-reviews-bg {
        padding: 100px 0 120px;
    }

    .client-reviews-title {
        font-size: 48px;
        margin-bottom: 80px;
    }

    .client-reviews-section .swiper {
        padding: 0 40px !important;
    }
}

@media (max-width: 992px) {
    .client-reviews-title {
        font-size: 40px;
    }

    .client-review-card-small,
    .client-review-card-large {
        width: 100% !important;
    }
}

@media (min-width: 769px) {
    .swiper-slide {
        align-self: flex-start !important;
    }

    .swiper-slide:nth-child(5n+4),
    .swiper-slide:nth-child(5n+5) {
        align-self: flex-end !important;
    }
}

@media (max-width: 798px) {
    .swiper-slide {
        align-self: flex-start !important;
    }

    .swiper-slide:nth-child(5n+4),
    .swiper-slide:nth-child(5n+5) {
        align-self: flex-end !important;
    }
}

@media (max-width: 768px) {
    .client-reviews-container {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    .client-review-arrow {
        bottom: 15px;
        right: 15px;
        width: 25px;
        height: 12px;
    }

    .client-review-card-large .client-review-arrow {
        bottom: 20px;
        right: 20px;
    }

    .client-review-card-wrapper.card-flex-end {
        margin-top: auto;
        /* padding-top: 40px; */
    }
    
    .client-reviews-bg {
        padding: 60px 0 80px;
        height: auto;
        min-height: 90vh;
    }

    .client-reviews-title {
        font-size: 34px;
        margin-bottom: 40px;
    }

    .client-reviews-section .swiper {
        padding: 0 20px !important;
    }

    .client-reviews-section .swiper-slide {
        width: 90% !important;
    }

    .client-review-card-wrapper {
        flex: 0 0 90%;
    }

    .client-review-content {
        padding: 15px;
    }

    .client-review-symbol {
        font-size: 48px;
    }

    .client-reviews-mobile-scroll {
        display: block;
    }

    .swiper-slide {
        align-self: center !important;
    }

    .swiper-slide:nth-child(5n+4),
    .swiper-slide:nth-child(5n+5) {
        align-self: center !important;
    }

    .client-review-card-large {
        width: 321px;
        height: 100%;
        padding: 30px 24px 0 26px;
    }
}

@media (max-width: 576px) {
    .client-reviews-title {
        font-size: 28px;
        margin-bottom: 30px;
    }

    .client-reviews-section .swiper {
        padding: 0 15px !important;
    }

    .client-review-card-small,
    .client-review-card-large {
        min-height: 220px;
    }

    .client-review-number {
        font-size: 16px;
    }

    .client-review-arrow {
        width: 25px;
        height: 12px;
    }
}

@media (max-width: 400px) {
    .client-reviews-title {
        font-size: 24px;
    }

    .client-review-name {
        font-size: 24px;
    }

    .client-review-text {
        font-size: 16px;
    }

    .client-review-symbol {
        font-size: 40px;
    }
}

/* Swiper mobile fixes */
/* @media (hover: none) {
    .client-reviews-section .swiper {
        overflow: hidden !important;
    }
} */