.footer-bg {
  background-image: url("/public/images/footer_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 0;
}

.footer-content {
  padding: 160px 0 100px 0;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.footer-title {
  font-family: "TTTBold";
  font-size: 64px;
  color: #FFFCF5;
  max-width: 830px;
  margin-bottom: 26px;
}

.footer-icons {
  display: flex;
  gap: 7px;
}

.footer-icon {
  width: 33px;
  height: 33px;
  transition: transform 0.3s ease;
}

.footer-icon:hover {
  transform: scale(1.1);
}

.footer-social {
  display: flex;
  gap: 22px;
  margin-bottom: 26px;
}

.social-btn-container {
  display: inline-block;
  position: relative;
}

.social-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  background-color: #D6FF00;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.social-icon {
  width: 33px;
  height: 33px;
  transition: transform 0.3s ease;
}

.social-btn-outline {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #D6FF00;
  border-radius: 5px;
  transform: translate(7px, -7px);
  transition: all 0.3s ease;
}

.btn__container.footer-btn-container {
  margin: 0;
}

.btn__container.footer-btn-container::before {
  border-color: #D6FF00;
}

.consult-btn.footer-btn:hover {
  background-color: #FFFCF5;
  color: #010101;
}

.footer-copyright {
  text-align: center;
  padding-top: 30px;
}

.footer-copyright p {
  font-family: "Steppe";
  font-size: 14px;
  color: rgba(255, 252, 245, 0.3);
}

@media (max-width: 1440px) {
  .footer-title {
    font-size: 54px;
  }

  .footer-content {
    padding: 120px 0 80px;
  }
}

@media (max-width: 1200px) {
  .footer-content {
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
  }
}

@media (max-width: 992px) {
  .footer-title {
    font-size: 42px;
  }

  .footer-bg {
    padding: 120px 0;
  }
}

@media (max-width: 768px) {
  .footer-section {
    margin-top: 100px;
  }

  .footer-title {
    font-size: 36px;
  }

  .social-btn {
    width: 45px;
    height: 45px;
  }

  .social-icon {
    width: 28px;
    height: 28px;
  }
}

@media (max-width: 576px) {
  .footer-title {
    font-size: 28px;
  }

  .footer-icons {
    gap: 12px;
  }

  .footer-icon {
    width: 28px;
    height: 28px;
  }

  .footer-social {
    gap: 15px;
  }

  .btn__container.footer-btn-container::before {
    transform: translate(4px, -4px);
  }
}