.discuss-form-section {
  background-image: url("/public/images/NOISE.png");
  width: 100%;
  height: 100%;
  height: 1300px;
}

.discussc-ontainer {
  padding: 0 56px;
}

.discuss-form-wrapper {
  position: relative;
}

.discuss-form-bg {
  background-image: url("/public/images/bg-form.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

.discuss-form {
  position: relative;
  z-index: 2;
  padding-top: 319px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.discuss-form-title {
  font-family: 'TTTBold';
  font-size: 68px;
  color: #010101;
  text-align: center;
  margin-bottom: 69px;
}

.form-row {
  margin-bottom: 25px;
  width: 700px;
  max-width: 100%;
}

.form-input,
.form-textarea {
  width: 100%;
  padding: 15px 20px;
  border: 1px solid #010101;
  border-radius: 8px;
  font-family: 'Steppe';
  font-size: 16px;
  background: transparent;
}

.form-input::placeholder,
.form-textarea::placeholder {
  color: #000000;
}

.form-textarea {
  resize: vertical;
}

.form-input[type="tel"] {
  caret-color: #010101;
}

.btn__container.form-btn-container {
  margin-top: 30px;
  position: relative;
  padding: 4px;
  display: inline-block;
  width: 700px;
  max-width: 100%;
}

.btn__container.form-btn-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #010101;
  border-radius: 5px;
  transform: translate(7px, -7px);
  transition: transform 0.5s ease-in-out-in-out;
  width: 700px;
  max-width: 100%;
}

.consult-btn.form-submit-btn {
  padding: 17px 80px;
  background-color: #010101;
  color: #FFFCF5;
  border: none;
  border-radius: 5px;
  font-family: 'Steppe';
  font-size: 16px;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: all 0.5s ease-in-out-in-out;
  width: 700px;
  max-width: 100%;
}

.btn__container.form-btn-container:hover::before {
  transform: translate(0);
  border-color: #FFFCF5;
}

.consult-btn.form-submit-btn:hover {
  background-color: #FFFCF5;
  color: #010101;
}

.form-decoration {
  position: absolute;
  z-index: 1;
  pointer-events: none;
}

.diamond-1 {
  width: 230px;
  top: 20px;
  right: 100px;
}

.diamond-2 {
  width: 93px;
  top: 415px;
  right: 350px;
}

@media (max-width: 1440px) {
  .discuss-form-title {
    font-size: 58px;
  }

  .diamond-1 {
    right: 200px;
  }

  .diamond-2 {
    right: 300px;
  }

  .discuss-form-bg {
    background-size: cover;
  }
}

@media (max-width: 1200px) {
  .discuss-form-title {
    font-size: 48px;
    margin-bottom: 50px;
  }

  .form-row {
    width: 600px;
  }

  .diamond-1 {
    right: 100px;
  }

  .diamond-2 {
    right: 200px;
  }

  .btn__container.form-btn-container {
    width: 600px;
    max-width: 100%;
  }
}

@media (max-width: 992px) {
  .discuss-form {
    padding-top: 350px;
  }

  .discuss-form-title {
    font-size: 40px;
  }

  .form-row {
    width: 500px;
  }

  .diamond-1,
  .diamond-2 {
    display: none;
  }

  .btn__container.form-btn-container {
    width: 500px;
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  /* .discuss-form-section {
    padding: 0 0 60px 0;
  } */

  .discussc-ontainer {
    padding: 0 30px;
  }

  .discuss-form-title {
    font-size: 34px;
    margin-bottom: 40px;
  }

  .form-row {
    width: 100%;
  }

  .consult-btn.form-submit-btn {
    padding: 15px 60px;
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .discuss-form-title {
    font-size: 28px;
  }

  .form-input,
  .form-textarea {
    /* padding: 12px 15px; */
    font-size: 14px;
  }

  .btn__container.form-btn-container::before {
    transform: translate(4px, -4px);
  }
}

.btn__container.form-btn-container {
  position: relative;
  display: inline-block;
  padding: 4px;
  transition: all 0.5s ease-in-out;
}

.btn__container.form-btn-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #010101;
  border-radius: 5px;
  transform: translate(7px, -7px);
  transition: transform 0.5s ease-in-out;
}

.consult-btn.form-submit-btn {
  position: relative;
  z-index: 2;
  background-color: #010101;
  color: #FFFCF5;
  transition: all 0.5s ease-in-out;
}

@media (hover: hover) {
  .btn__container.form-btn-container:hover::before {
    transform: translate(0, 0);
    border-color: #FFFCF5;
  }

  .consult-btn.form-submit-btn:hover {
    background-color: #FFFCF5;
    color: #010101;
  }
}

@media (max-width: 768px) {
  .btn__container.form-btn-container.active::before {
    transform: translate(7px, -7px);
    opacity: 1;
    border-color: #010101;
  }

  .consult-btn.form-submit-btn {
    transform: translate(0, 0) !important;
  }
}

.btn__container.form-btn-container.active .consult-btn.form-submit-btn {
  background-color: #FFFCF5;
  color: #010101;
  transition: all 0.5s ease-in-out;
}

.checkbox-label {
  font-family: 'Steppe';
  font-size: 12px;
  color: rgba(1,1,1,0.5);
  cursor: pointer;
}

.checkbox-label a {
  color: rgba(1,1,1,0.5);
  text-decoration: underline;
}

.checkbox-label input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid #010101;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  position: relative;
  flex-shrink: 0;
}

.checkbox-label input[type="checkbox"]:checked {
  background-color: #010101;
}

.checkbox-label input[type="checkbox"]:checked::after {
  content: '';
  position: absolute;
  left: 4px;
  top: 1px;
  width: 5px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

@media (max-width: 576px) {
  .checkbox-label {
      font-size: 12px;
  }
}

/* Success Modal Styles */
.success-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("/public/images/NOISE.png");
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  backdrop-filter: blur(10px);
}

.success-modal {
  background: #FFF;
  padding: 60px 78px 60px 78px;
  border-radius: 10px;
  text-align: center;
  position: relative;
  max-width: 880px;
  width: 100%;
  margin: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}


.success-modal-title {
  font-family: 'TTTMidle';
  font-size: 40px;
  color: #000;
  margin: 20px 0 30px;
  line-height: 1.1;
}

.success-modal-text {
  font-family: 'Steppe';
  font-weight: 300;
  font-size: 16px;
  color: #000;
  line-height: 1.1;
  max-width: 580px;
  margin: 0 auto;
}

.success-modal-close {
  position: absolute;
  top: 25px;
  right: 25px;
  background: none;
  border: none;
  font-size: 40px;
  cursor: pointer;
  color: #000;
  padding: 0 15px;
  line-height: 1;
  transition: opacity 0.3s;
}

.success-modal-close:hover {
  opacity: 0.7;
}

@media (max-width: 768px) {
  .success-modal {
      padding: 40px 20px 60px;
  }
  
  .success-modal-title {
      font-size: 32px;
      margin: 15px 0 25px;
  }
  
  .success-modal-text {
      font-size: 14px;
  }
  
  .success-modal-close {
      top: 15px;
      right: 15px;
      font-size: 30px;
  }
}