.stats-section {
    position: relative;
    padding: 12rem 2rem;
    background-color: #010101;
    overflow: hidden;
}

.stats-container {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}

.stats-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
}

.stats-text-block {
    width: 100%;
    text-align: center;
}

.stats-title {
    font-family: 'TTTMedium', sans-serif;
    color: #FFFCF5;
    font-size: 64px;
    line-height: 1.2;
    margin: 0;
    white-space: nowrap;
}

.stats-highlight {
    font-family: 'TTTBold', sans-serif;
    color: #D6FF00;
    font-size: 96px;
}

.stats-decoration {
    position: absolute;
    z-index: 1;
    pointer-events: none;
}

.stats-ellipse {
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: min(40vw, 500px);
}

.stats-star {
    right: 5%;
    /* bottom: -5%; */
    width: min(15vw, 150px);
    transform: translateX(-50%);
}

/* Адаптация */
@media (max-width: 1300px) {
    .stats-title {
        font-size: 54px;
    }

    .stats-highlight {
        font-size: 86px;
    }
}

@media (max-width: 1140px) {
    .stats-title {
        font-size: 44px;
    }

    .stats-highlight {
        font-size: 66px;
    }
}

@media (max-width: 900px) {
    .stats-section {
        padding: 10rem 1rem;
    }

    .stats-title {
        font-size: 34px;
    }

    .stats-highlight {
        font-size: 46px;
    }
}

@media (max-width: 768px) {
    .stats-ellipse {
        width: 250px;
    }

    .stats-star {
        width: 47px;
        bottom: -75px;
    }
}

@media (max-width: 660px) {
    .stats-title br {
        display: none;
    }

    .stats-title {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

@media (max-width: 350px) {
    .stats-title {
        font-size: 24px;
    }

    .stats-highlight {
        font-size: 36px;
    }
}