/* Базовые стили */
.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 15px 0;
    background-color: transparent;
    transition: all 0.3s ease;
    padding: 10px 0;
}

.menu--scrolled {
    background-color: #000000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.menu__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}

/* Стили для телефона (всегда слева) */
.menu__phone-wrapper {
    order: -1;
}

.menu__phone-link {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
}

.menu__phone-icon {
    width: 50px;
    height: 50px;
}

.menu__phone-number {
    color: #D6FF00;
    font-family: 'TTTBold', sans-serif;
    font-size: 16px;
    font-weight: 900;
    transition: all 0.3s ease;
}

.menu__phone-link:hover .menu__phone-number {
    color: #FFFCF5;
}

/* Стили для меню (справа на десктопе) */
.menu__list {
    display: flex;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu__link {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 500;
    font-family: 'Steppe', sans-serif;
    font-size: 16px;
    transition: all 0.3s ease;
    position: relative;
}

.menu__link:hover {
    color: #D6FF00;
}

.menu__link::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #D6FF00;
    transition: all 0.3s ease;
}

.menu__link:hover::after {
    width: 100%;
}

/* Стили для бургер-меню */
.menu__burger {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    order: 1;
}

.menu__burger img {
    width: 50px;
    height: 50px;
}

/* Адаптивность - мобильное меню */
@media (max-width: 870px) {
    .menu__phone-number {
        font-size: 14px;
    }

    .menu__list {
        gap: 20px;
    }

    .menu__link {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .menu__list {
        position: fixed;
        top: 0;
        right: 0;
        width: 70%;
        height: 100vh;
        flex-direction: column;
        background-color: #000;
        padding: 80px 30px 30px;
        gap: 20px;
        transform: translateX(100%);
        transition: transform 0.3s ease;
        z-index: 999;
    }
    
    .menu__nav{
        flex-direction: row;
    }

    .menu__list--open {
        transform: translateX(0);
    }
    
    .menu__burger {
        display: block;
        z-index: 1000;
    }
    
    .menu__item {
        padding: 10px 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
    
    .menu__link {
        font-size: 18px;
        display: block;
    }
    
    .menu__link::after {
        display: none;
    }
}

@media (max-width: 576px) {
    .menu {
        padding: 10px 0;
    }
    
    .menu__phone-number {
        font-size: 14px;
    }
    
    .menu__list {
        width: 80%;
    }
}